dirstat-rm() {
  local output
  output=$(dirstat "$@" 2>&1)
  if [[ $? -ne 0 ]]; then
    echo "${output}" >&2

    return 1
  fi
  local files=$(
    awk '/^  [0-9]+\)/ {
      $1 = "";
      sub(/^[ \t]+/, "");
      printf "%s\t%s %s\n", $1, $2, $3
    }' <<< "$output" | awk '{a[NR]=$0} END {for(i=NR;i>0;i--) print a[i]}' |
    SHELL=%%% fzf --wrap --multi \
        --delimiter=$'\t' \
        --with-nth=1 \
        --preview-window=wrap \
        --preview='command ls -Alh --group-directories-first --time-style=long-iso --color=always -- {1} | awk "{NF--; print}"'
  )

  if [[ -n "${files}" ]]; then
    local cmd=""
    while IFS= read -r file; do
      cmd+="rm -f -- ${${file%%$'\t'*}:q}"$'\n'
    done <<< "$files"
    print -z "${cmd%$'\n'}"
  fi
}
